.about-centreO-root {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.about-centreO-container{
  width: 90%;
  height: 100%;
  display: flex;
}
.about-centreO-root .left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-centreO-root .right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-centreO-root .right img{
    height: 90%;
    width: 70%;
}
.left .about-centreO-header {
  font-size: 40px;
  font-weight: 600;
}
.left .about-centreO-footer {
  font-size: 18px;
}
