.AmmenityHolder{
    /* height: 100vh; */
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 60px;
}


.centreTypeHolder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.centreTypeCard{
    background-color: white;
    width: 230px;
    margin-bottom: 40px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 7px;
    cursor: pointer;
}

.centreActive{
    border: 2px solid black;
}