.stand-out-root {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.stand-out-container {
  width: 90%;
  height: 100%;
  display: flex;
}
.stand-out-root .left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stand-out-root .right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stand-out-root .right img {
  height: 90%;
  width: 70%;
}
.left .stand-out-header {
  font-size: 40px;
  font-weight: 600;
}
.left .stand-out-footer {
  font-size: 18px;
}
