.review-listing-root {
  width: 100%;
  height: 100%;
}
.review-listing-container {
  margin-left: 15%;
  margin-right: 15%;
  height: 100%;
}
.review-listing-header {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
}
.review-listing-sub-header {
  font-size: 18px;
  color: grey;
  margin-bottom: 5%;
}
.review-listing-content {
  width: 100%;
  height: 76%;
  display: flex;
}
.review-listing-content .left {
  width: 50%;
  /* background-color: green; */
  padding: 0px 120px 0px 0px;
}
.review-listing-content .left .review-card {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  padding: 20px;
  padding-top: 0;
}
.review-listing-content .right {
  width: 50%;
  height: 100%;
  /* background-color: yellow; */
  padding: 0px 100px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.review-listing-header2 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}
.review-listing-content2 .content {
  margin-bottom: 20px;
}
.review-listing-content2 .content .text {
  display: flex;
  align-items: center;
}
.review-card .image-container {
  width: 100%;
  height: 80%;
}
.review-card .content {
  height: 20%;
  padding-top: 4%;
}
.review-card .content .top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
}
.review-card .content .bottom {
  display: flex;
  align-items: center;
}
.review-card .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.show-preview-header {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.show-preview-header .text {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: white;
  padding: 8px;
  width: 130px;
  border-radius: 5px;
  font-weight: 600;
}
