.popup-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .gallery-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 999;
    padding: 20px;
  }
  .gallery-inner .back-icon {
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .gallery-inner .back-icon:hover {
    cursor: pointer;
    background-color: #f6f2f0;
    color: black;
  }
  
  .popup-modal-inner {
    position: relative;
    padding: 34px;
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
  }
  
  .amenities-popup {
    position: relative;
    padding: 34px;
    width: 100%;
    max-width: 750px;
    background-color: white;
    border-radius: 10px;
    height: 650px;
    overflow: auto;
  }
  .amenities-popup .close-btn{
    border: none;
    background-color: white;
    font-size: 20px;
    width: 100%;
    max-width: 700px;
    margin-top: -34px;
    padding-top: 34px;
    display: flex;
    justify-content: flex-start;
    position: fixed;
  }
  .close-btn {
    border: none;
    background-color: white;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .cancel-icon:hover {
    color: #ff3259;
    cursor: pointer;
  }
  
  .back-btn {
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
  }
  
  .back-icon {
    font-size: 20px;
  }
  
  .back-icon:hover {
    color: #ff3259;
    cursor: pointer;
  }
  
  