.legal-container {
  margin-left: 30%;
  margin-right: 30%;
}
.legal-header {
  font-size: 30px;
  font-weight: 600;
}
.first-section {
  margin-top: 20px;
}
.first-section-header {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.first-section-header .info-icon,
.second-section-header .info-icon {
  margin-left: 10px;
}
.first-section-form .form-item {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.first-section-form .form-item label {
  margin-left: 15px;
  cursor: pointer;
  font-size: 16px;
}
.first-section-form .form-item input {
  cursor: pointer;
  transform: scale(1.5);
}
.second-section-header {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;
}
.second-section-form .form-item {
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.second-section-form .form-item input {
  cursor: pointer;
  transform: scale(1.5);
  border-width: 1px;
  border: 1px solid #f7f7f7;
}
.legal-container hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.important-notice {
  color: #8a8a8a;
}
.important-notice .header {
  font-weight: bold;
  font-size: 18px;
}
.important-notice .content {
  margin-top: 20px;
}
