.host-root {
  width: 100%;
  height: 100vh; 
}

.host-header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
}
.host-header button {
  padding: 8px;
  border: none;
  background-color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.host-header button:hover {
  cursor: pointer;
  background-color: #f6f2f0;
}
.host-content {
  height: 70vh;
  padding-top: 8%;
  padding-left: 5%;
  padding-right: 5%;
}
.host-footer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  
  background-color: white;
}
.page-loader {
  height: 4px;
  width: 100%;
  background-color: black;
}

.loader-background{
  background-color: rgb(201, 201, 201);
  width: 100%;
  height: 4px;
}


.pagefooter-section{
  position: fixed;
  bottom: 0;
  width: 100%;

}


.host-footer button {
  padding: 15px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 600;
  background-color: #e61e4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.host-footer .back-btn {
  margin-left: 30px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

/* Apply transitions to the loader */
/* Apply transitions to the loader */
.page-loader {
  transition: width 0.3s ease-in-out;
}

.loader-zero-width {
  width: 0%;
 
}

.loader-medium-width {
  width: 10%;
  animation:  1s ease-in-out forwards;
}

.loader-medium2-width {
  width: 20%;
  animation:  1s ease-in-out forwards;
}


.loader-medium3-width {
  width: 30%;
  animation:  3s ease-in-out forwards;
} 

.loader-medium4-width {
  width: 40%;
  animation:  3s ease-in-out forwards;
} 

.loader-medium5-width{
  width: 50%;
  animation: 3s ease-in-out forwards;
}
.loader-medium6-width{
  width: 60%;
  animation: 3s ease-in-out forwards;
}
.loader-medium7-width{
  width: 70%;
  animation: 3s ease-in-out forwards;
}
.loader-medium8-width{
  width: 80%;
  animation: 3s ease-in-out forwards;
}
.loader-medium5-width{
  width: 50%;
  animation: 3s ease-in-out forwards;
}