.password-modal-header {
  margin-top: 5%;
  text-align: center;
  font-weight: 600;
}

.password-modal-content {
  margin-top: 8%;
}

.password-modal-content p {
  margin-top: 1%;
}

.password-modal-form {
  margin-top: 4%;
}

.form-content input {
  margin-top: 2%;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.password-modal-form button {
  margin-top: 4%;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: pink;
  border: none;
  color: white;
  cursor: pointer;
}

.password-modal-form button:disabled {
  background-color: grey;
}
