.details-card-right {
  width: 100%;
}
.details-card-right .details-card-right-inner {
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.details-card-right .card-right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;
}
.details-card-right .card-right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 0.5px solid grey;
  padding: 15px;
  border-radius: 5px;
}
.card-right-content .form-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-right-content .form-content input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
}
.book-btn button {
  margin-top: 5%;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #e61e4d;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.book-btn button:hover{
  background-color: #ff003c;
}
.book-btn button:disabled{
    background-color: grey;
    cursor: auto;
}
.card-right-footer .compilation {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.card-right-footer .compilation button {
  border: none;
  background-color: white;
  font-size: 14px;
  text-decoration: underline;
  color: grey;
}
.card-right-footer .total {
  font-size: 16px;
  margin-top: 10%;
  color: black;
  display: flex;
  justify-content: space-between;
}
.disAlCenter {
  display: flex;
  align-items: center;
}
.disJusSpaBet {
  display: flex;
  justify-content: space-between;
}
.price {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.price p{
  font-size: 16px;
  font-weight: normal;
  margin-left: 5px;
}
