.stuff{
  color: red;
}

.searchPageHolder {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 100px;
    
  }

  .searchCardV1 {
    width: 290px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .searchCardHolder {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skeletonImage{
    background-color: rgb(230, 230, 230);
    width: 290px;
    height: 250px;
    border-radius: 8px;
  }

  .skeletonText{
    background-color: rgb(230, 230, 230);
    width: 290px;
    height: 15px;
    margin-top: 5px;

  }

  .skeletonText1{
    background-color: rgb(230, 230, 230);
    width: 290px;
    height: 25px;
    margin-top: 15px;

  }