.stuff{
  color: red;
}

.searchPageHolder {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 100px;
    
  }

  .searchCardV1 {
    width: 290px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .searchCardHolder {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }