.signup-modal-form {
  margin-top: 4%;
}

.form-content input {
  margin-top: 4%;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.signup-modal-form button {
  margin-top: 4%;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #e61e4d;
  border: none;
  color: white;
}

.signup-modal-form button:disabled {
    /* margin-top: 4%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #e61e4d;
    border: none;
    color: white; */
    background-color: grey;
  }

.signup-modal-form p {
  margin-top: 5%;
  font-size: 12px;
}


